name: CI

on:
  pull_request:
    branches:
      - master

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  node-version: "22.x"

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.node-version }}
          cache: yarn
          cache-dependency-path: "**/yarn.lock"

      - name: Install deps
        run: yarn install --prefer-offline --frozen-lockfile

      - name: Cache node_modules
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            node-modules-${{ runner.os }}-

      - name: Codegen & check
        run: ./bin/codegen-check.sh

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

      - name: Format check
        run: yarn prettier . --list-different

      - name: Test
        run: yarn test:once
